{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .stuff {
            width: 80%;
            margin-left: 10%;
        }
        .stuff > h5 {
            margin-top: 30px;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
        .comments {
            margin-top: 30px;
        }
        .comment_block {
            height: max-content;
            padding: 10px;
            border: 1px solid #242b2e;
            color: #242b2e;
            background: #cbcbcb;
            margin-bottom: 10px;
        }
        .stuff img{
            width: 100%;
        }
    </style>
    <div class="stuff">
        {% if stuff.image %}
            <img src="/media/{{ stuff.image }}" alt="does not exist">
        {% else %}
            <img src="/media/not%20(2).jpg">
        {% endif %}
        <h1>{{ stuff.title }}</h1>
        <h5>{{ stuff.description }}</h5>
        <div class="categories">
            {% for category in categories %}
                <div class="category">
                    <h6>{{ hashtag.title }}</h6>
                </div>
            {% endfor %}
        </div>
        <div class="dates">
            <h5>{{ stuff.created_date }}</h5>
            <h5>{{ stuff.modified_date }}</h5>
        </div>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment_block">
                <h6>{{ comment.text }}</h6>
                <p>{{ comment.created_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}